<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First angular app</title>
</head>
<body>
  <h2>Angular is Cool</h2>
  <form #firstForm="ngForm">
    <input type="text" ngModel name="user" placeholder="username" style="margin-right: 5px;">
    <button style="margin-right: 5px;" (click)="getname(firstForm.value)">submit</button>
    <button (click)="auth(firstForm.value)">Authenticate</button>
  </form>
  <div *ngIf="flag==true; else elseBlock"><p><b>{{name}}</b></p></div>
  <ng-template #elseBlock><p>{{name}}</p></ng-template>
</body>
</html> 