
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello World</h1>.
    <h2> Welcome to First Asp.Net core MVC</h2>
    <h3>Loading....</h3>

</body>
</html>
