<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My angular app</title>
</head>
<body>
  <h1>Hello Angular</h1>
  <br>
  <br>
  <form #simpleForm="ngForm" (ngSubmit)="getName(simpleForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter your name" >
    <br><br>
    <button>submit</button>
  </form>  

  <br><br>
  <h1>{{Name}}</h1>
</body>
</html>