
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p style="font-size:40px;color:aqua;text-align:center;">Welcome To DashBoard</p>


    <a asp-action="LogOut" asp-controller="Admin" class="btn btn-primary"> LogOut  </a>
